<ul class="products_list">
  {{#each products}}
    <li>
        <img src="{{image}}" alt="">
        <h2>{{name}}</h2>
        <h3>{{price}}</h3>
        <p>{{description}}</p>
    </li>
  {{/each}}
</ul>